#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
  }
  
  /* Style for the top search bar */
  .topnav {
    background-color: #fff;
    overflow: hidden;
  }
  
  .topnav .title {
    float: left;
    font-weight: bold;
    padding: 10px;
  }
  
  .topnav .search-container {
    float: right;
    padding: 10px;
    position: relative;
  }
  
  .topnav input[type=text] {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
    padding: 5px;
    width: 250px;
  }
  
  .topnav .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .topnav .dropdown .dropbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .topnav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .topnav .dropdown .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .topnav .dropdown:hover .dropdown-content {
    display: block;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: white;
  }
  th {
    background-color: #f3f3f3;
  }
  img {
    max-width: 100px;
    max-height: 100px;
  }
  .serts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.container{
    margin-top: 200px;
    
}

h1 {
	font-family: "Poppins", sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	margin-top: 150px;
	text-align: center;
	text-shadow: 0 0 5px #111111;
}