body {
  font-family: Arial, sans-serif;
}

.hi {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #428bca;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3071a9;
  }
  
  input:focus {
    outline: none;
    border-color: #428bca;
    box-shadow: 0 0 5px #428bca;
  }


input[type="text"],
input[type="email"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#edit-btn {
    background-color: #428bca;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

h1 {
	font-family: 'Lora', serif;
	font-size: 50 px;
	font-weight: bold;
	margin-top: -10px;
	text-shadow: 0 0 5px #ffffff;
}
  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .interact a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
  }
  
  .active {
    background-color: #C18381;
  }
  
  .title {
    font-weight: bold;
    color: white;
  }
  
  .search {
    width: 30vh;
    border: none;
    margin-right: 16px;
    font-size: 17px;
  }
  
  .textIntro {
    margin-top: 100px;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
  }

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
  }

