#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: white;
}
th {
  background-color: #f3f3f3;
}
img {
  max-width: 100px;
  max-height: 100px;
}
.serts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container1{
  background-color: white;
  padding: 35px;
  border-radius: 10px;
}